*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: white;
}

html,body{
  background-color: black;
  height: 100%;
  width: 100%;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(72, 112, 112);
}

.nav div{
  display: flex;
  gap: 35px;
  align-items: center; 
}