*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
}

h1{
  background: #797373;
  padding: 0.5em 1.5em;
  margin: 10px;
  font-size: clamp(2.5rem, 8vw, 6rem);
  width: fit-content;
  border-radius: 9px;
}

button{
  margin: 10px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
}
