*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
}

button{
  padding: 10px 20px;
  margin: 10px;
}

h1{
  margin: 10px;
}