*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'hectiva';
}

html,body{
  width: 100%;
  height: 100%;
}

.parent{
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: #111;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  width: 280px;
  height: 330px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.top button{
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 4px 8px;
  border: 1px solid #dadada;
  background-color: transparent;
  color: #b1b1b1;
  gap: 3px;
}

.center h3{
  font-size: 17px;
  font-weight: 500px;
}
.center h3 span{
  font-size: 9px;
  font-weight: 500px;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
}

.bottom{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button{
  background-color: #111;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  padding: 5px 10px;
  border: none;
}

.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}