*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'hectiva neue'
}

html,body{
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
}

input{
  font-size: 15px;
  margin: 10px;
  padding: 10px 20px;
}

button{
  margin: 10px;
  padding: 10px 20px;
}
